[submodule "neretva_rn"]
	path = neretva_rn
	url = git@github.com:flee-group/neretva_rn.git
[submodule "ybbs_rn"]
	path = ybbs_rn
	url = git@github.com:flee-group/ybbs_rn.git
[submodule "kamp_rn"]
	path = kamp_rn
	url = git@github.com:flee-group/kamp_rn.git
[submodule "fanimadh_rn"]
	path = fanimadh_rn
	url = git@github.com:flee-group/fanimadh_rn.git
